/* прибирає підкреслення посилань */
a{text-decoration: none;}
/* прибирає підкреслення посилань */
/* Обраний  шрифт */
body{font-family: Roboto, sans-serif;}
/* Обраний  шрифт */

/*Головна сторінка початок*/
/* Шапка */
.logo{
    font-family: Raleway, sans-serif ;
    font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color:#000000 ;
    }
.logo-accent{ color:#2196F3 ;}

/* Шапка *

/* Герой */

/* Герой */

/* Опис компанії */

/* Опис компанії */

/* Опис компанії зображення */

/* Опис компанії зображення */

/* Посади працівників компанії зображення */

/* Посади працівників компанії зображення */

/* Футер */

/* Футер */
/*Головна сторінка кінець*/




/* Портфоліо початок*/
/* Шапка */

/* Шапка */

/* Герой */

/* Герой */

/* Футер */

/* Футер */
/* Портфоліо кінець*/