/* Змінні */
:root{
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-bg-color:#FFFFFF;
}
/* Змінні */

/* прибирає підкреслення посилань */
a{text-decoration: none;}
/* прибирає підкреслення посилань */

/* прибирає маркера */
ul{ list-style: none;}
/* прибирає маркера */

/* Обраний  шрифт, колір сторінки */
body{
    font-family: Roboto, sans-serif;
    background: var(--primery-bg-color);
    color: var(--primery-text-color);
}
/* Обраний  шрифт, колір сторінки */

/*Головна сторінка початок*/
/* Шапка */

/* Логотип */
.logo-top{
    font-family: Raleway, sans-serif ;
    font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color:#000000;
    }
.logo-accent{ color:#2196F3;}
/* Логотип */

/* Навигація по сторінкам*/
.site-nav .link{color: var(--title-text-color);
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
}
.site-nav .link:hover, 
.site-nav .link:focus{color: var(--accent-color);}
/* Навигація по сторінкам*/

/* активна сторінка */
.site-nav .link.current {color: var(--accent-color);}
/* активна сторінка */

/* Посилання на контакти */
.contact-list .link{ color: var(--primery-text-color);
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.contact-list .link:hover,
.contact-list .link:focus{color: var(--accent-color);}
/* Посилання на контакти */
/* Шапка *

/* Герой */
.hero-background{background-color: #2F303A;}
.hero-title{color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.order-button{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background-color: var(--accent-color);
}
.order-button:hover,
.order-button:focus{color: #188CE8;}
/* Герой */

/* Секции */
.section-title{color: var(--title-text-color);}
/* Секции */

/* Опис компанії */

/* Опис компанії */

/* Опис компанії зображення */

/* Опис компанії зображення */

/* Посади працівників компанії зображення */

/* Посади працівників компанії зображення */

/* Футер */
.footer-background{background-color: #2F303A;}
/* Логотип */
.logo-bottom {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.logo-accent {color: #2196F3;}
/* Логотип */

/* Адрес */
.address{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;}
.link-email-address:hover,
.link-email-address:focus{color: var(--accent-color);}
.link-email-address{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}
.link-number:hover,
.link-number:focus{color: var(--accent-color);}
.link-number{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}
/* Адрес */

/* Футер */
/*Головна сторінка кінець*/




/* Портфоліо початок*/
/* Шапка */

/* Шапка */

/* Герой */

/* Герой */

/* Футер */

/* Футер */
/* Портфоліо кінець*/